# IntelliJ
**.iml
.idea/**/*.*
!.idea/codeStyles/*.*

# Node
node_modules/

# Sensitive data
e2e/node-lambda/deploy.env

# Terraform
.terraform/
e2e/localstack/*.tf
e2e/localstack/.terraform.lock.hcl

# Build artifacts
archive/

# Gradle
.gradle/
build/