name: CI
on:
  - push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '12.x'
      - run: npm ci
      - run: npm run jest
        env:
          CI: true
      - uses: actions/setup-java@v2
        with:
          java-version: 16
          distribution: 'adopt'
      - uses: little-core-labs/install-terraform@v2.0.0
        with:
          version: 0.14.2
      - name: Gradle cache
        uses: actions/cache@v2.1.4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - run: ./gradlew build --no-daemon --max-workers 2 --scan
  deploy:
    needs: test
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '12.x'
      - run: npm ci --production
      - name: copy fetch
        run: |
          mkdir -p src/node_modules
          cp -r node_modules/node-fetch src/node_modules/node-fetch
          mkdir archive
          cd src && zip -r ./../archive/lambda.zip ./ && cd ..
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: AKIA5I2GO2UBJH5ZOIEL
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-1
      - run: aws s3 cp archive/lambda.zip s3://ninshubur-eu-west-1/lambda.zip --acl public-read

